<!--NAVIGATION-->
<a href="https://colab.research.google.com/github/marcoteran/machinelearning/blob/master/notebooks/00_introtopython/22_artificialintelligence_pandashomework.ipynb" target="_blank"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Abrir en Colab" title="Abrir y ejecutar en Google Colaboratory"></a>

### Taller
# Taller 04: Salarios SF
## Inteligencia Artificial

**Name:** Marco Teran **E-mail:** marco.tulio.teran@gmail.com,
[Website](http://marcoteran.github.io/),
[Github](https://github.com/marcoteran),
[LinkedIn](https://www.linkedin.com/in/marcoteran/).
___

Este es un Taller básico para practicar las habilidades adquiridas usando Pandas. Utilizaremos el [dataset de Salarios en San Francisco - SF](https://www.kaggle.com/kaggle/sf-salaries) de Kaggle. 

Por favor complete las tareas que se detallan a continuación. El nivel de dificultad de las tareas es incremental.
___

** Importar pandas como pd**

In [1]:
# ESCRIBA SU CODIGO AQUI

** Leer el archivo salarios.csv como un dataframe llamado sal.**

In [2]:
# ESCRIBA SU CODIGO AQUI

** Muestre las primeras 5 filas del DataFrame para verificar que leyó los datos correctamente. **

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [4]:
# NO USAR ESTA CELDA

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use el método .info() para determinar el número de filas leídas.**

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [4]:
# NO USAR ESTA CELDA

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

** ¿Cuál es el salario base (BasePay) promedio?**

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [6]:
# NO USAR ESTA CELDA

66325.44884050643

** ¿Cuál es la mayor cantidad pagada por horas extra (OvertimePay)? **

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [7]:
# NO USAR ESTA CELDA

245131.88

** ¿Cuál es el cargo (JobTitle) de JOSEPH DRISCOLL? 
Nota: Usar mayúsculas, de lo contrario obtendrá la respuesta equivocada porque también existe un registro con 'Joseph Driscoll' en minúsculas. **

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [8]:
# NO USAR ESTA CELDA

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** ¿Cuánto gana JOSEPH DRISCOLL (incluyendo beneficios - TotalPayBenefits)? **

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [10]:
# NO USAR ESTA CELDA

24    270324.91
Name: TotalPayBenefits, dtype: float64

** ¿Cuál es el nombre de la persona que más gana (incluyendo beneficios - TotalPayBenefits)?**

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [12]:
# NO USAR ESTA CELDA

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

** ¿Cuál es el nombre de la persona que menos gana (incluyendo beneficios - TotalPayBenefits)?**

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [14]:
# NO USAR ESTA CELDA

148653    Joe Lopez
Name: EmployeeName, dtype: object

** ¿Cuál es el salario base (BasePay) promedio de todos los empleados por año (2011-2014)? **

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [15]:
# NO USAR ESTA CELDA

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** ¿Cuántos cargos (JobTitle) únicos existen? **

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [16]:
# NO USAR ESTA CELDA

2159

** ¿Cuáles son los 5 cargos más comunes? **

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [17]:
# NO USAR ESTA CELDA

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** ¿Cuántos cargos estaban ocupados solamente por una persona en 2013? (cargos con solo una ocurrencia en 2013) **

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [19]:
# NO USAR ESTA CELDA

202

** ¿Cuánta gente tiene la palabra 'Chief' en su cargo?**

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [28]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [29]:
# NO USAR ESTA CELDA

627

** Extra: ¿existe una correlación entre la longitud del nombre del cargo y el salario? **

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [24]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [25]:
# NO USAR ESTA CELDA

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000